/* You can add global styles to this file, and also import other style files */
.child {
    margin: 1rem 2rem;
    padding: 2rem;
    background-color: wheat;
    border-radius: 25px;
    border: 0;
    height: auto;
    max-width: 500px;
}